$font-stack: 'Heiti SC', sans-serif;
$primary-font-color: #535353;
// @import url('https://fonts.googleapis.com/css?family=Quicksand');

// * {
//   border: 1px solid blue;
// }

body {
  display: grid;
  font: 100% $font-stack;
  color: $primary-font-color;
  background-color: grey;
  margin: 0 auto;
  max-width: 1024px;
  border-left: solid 7px #535353;
  border-right: solid 7px #535353;
}

.mobile-img {
  display: none;
}

.banner {
  display: block;
  justify-content: center;
  width: 100vw;
  max-width: 1024px;
  // display: grid;
  grid-template-columns: 1024px;
  justify-content: center;
  margin: 0;
  .header-img {
    width: 100vw;
    max-width: 1024px;
  }
}
.logo-img {
  display: flex;
  position: relative;
  margin: 0 auto;
  margin-top: -225;
  margin-bottom: 156;
}

$menuColor: #8D8D8D;
$menuBorder: #535353;

.menu {
  width: 100vw;
  max-width: 1024px;
  margin: 0 0;
  display: grid;
  grid-template-columns: 2fr 2fr 2.3fr 2fr 2fr;
  justify-content: center;
  border: 5px solid $menuBorder;
  background-color: $menuColor;
  border-left: none;
  border-right: none;
  // margin-left: 0;
  height: 37;
}

.menu-btn {
  font-family: 'Quicksand', sans-serif;
  color: white;
  background: 0;
  font-size: 20px;
  border: 0;
  padding-bottom: 4px;
}

.footer {
  display: grid;
  grid-template-columns: 1.5fr 1.5fr 3fr 1.5fr 1.5fr;
  justify-content: center;
  border-top: 6px solid $menuBorder;
  border-bottom: 6px solid $menuBorder;
  // box-shadow:0px 0px 0px 5px $menuBorder inset;
  // border: 5px solid $menuBorder;
  background-color: $menuColor;
  color: white;
  text-align: center;
  width: 100vw;
  max-width: 1024px;
  height:95px;
  align-items: center;
  // position: fixed;
  // bottom: 0;
  // width: 1024px;
}

#offerings,
#rates {
  text-align: left;
  padding-left: 0;
}
#partnerships{
  text-align: right;
  padding-right: 3px;
}
#values {
  text-align: right;
  padding-right: 10px;
}

.content {
  display: grid;
  grid-template-columns: 1fr 3.5fr 7fr .5fr;
  // padding: 20px 80px;
  background-color: #F5ABAA;
  width: 100vw;
  max-width: 1024px;
  padding-top: 20px
}

.right-body{
  grid-column-start: 3;
  grid-column-end: 3;
}

#description {
  font-size: 20px;
  line-height: 1.3em;
}


.contact-buttons {
  display: flex;
  justify-content: center;
}

.signup {
  background-color: #FFC07D;
  color: white;
  border: 3px solid white;
  font-size: 20px;
  padding: 11px;
  border-radius: 10px;
  letter-spacing: 3px;
  margin: 10px;
}

.quotes {
  display: grid;
  grid-template-columns: 1.5% 44.5% 1.5% 44.5%;
  grid-gap: 10px;
  color: white;
}

.quote-bar-three,
.quote-bar {
  background-color: white;
  margin: 15px 0;
  border-radius: 20px;
}

.quote-bar-three {
  height: 65%;
}

.heart {
  margin-top: 30px;
  display: grid;
  grid-template-columns: 9.891px 250px;
  grid-gap: 10px;
  height: 75px;
  // margin-bottom: 30px;
  p {
    font-size: 40px;
    margin: 0;
    padding: 0;
  }
}

.quote-bar-two {
  background-color: $menuBorder;
  border-radius: 20px;
  // margin-top: 10px;
  height: 80px;
}

.bullets {
  display: grid;
  width: 10px;
  // margin-top: 20px;
  gap: 18px 0;
  // grid-column-start: 2;
  padding-left: 7vw;
}

.bullets2 {
  display: grid;
  // width: 10px;
  // margin-top: 20px;
  gap: 18px 0;
  // grid-column-start: 2;
  // padding-left: 7vw;
}

.bullet {
  height: 10px;
  width: 10px;
  background-color: $menuBorder;
  border-radius: 40px;
  padding: 0;
  margin-top: 8px;
  // margin-left: -7vw;
}

.bullet-container {
  display: grid;
  grid-template-columns: 15px 250px;
  grid-gap: 8px;
  margin-top: 20px;
  margin-bottom: 150px;
}

.bullet-text {
  margin: 0;
  font-size: 20px;
  p {
    margin-top: 3px;
    // margin-bottom: 18px;
  }
  p:last-child {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 1024px) {

.logo-img {
  display: flex;
  position: absolute;
  margin: 0 auto;
  left: 50%;
  margin-left: -159px;

  margin-top: -21.972vw;
  // margin-bottom: 15.23%;
}

}

@media screen and (max-width: 900px) {
  body {
    background-color: #F5ABAA;
    border: 0;
  }

  .bullet-container {
    display: none;
  }

  .heart {
    margin-top: -30px;
    grid-template-columns: 9.891px 500px;
  }

  .quote-bar-two {
    height: 45px;
    background-color: #F5ABAA;
  }

  #description {
    margin-top: 5px;
    padding-left: 10px;
  }

  .right-body {
    margin-top: 20px;
    margin-right: 30px;
  }


  .content {
    display:flex;
    margin-top:150px;
    padding-top: 50px;
  }


  .menu {
    grid-template-columns: 1fr;
    border: 0;
    // height: 500px;
    #values,
    #partnerships,
    #ourwork,
    #offerings,
    #rates {
      height: 1.8em;
      text-align: center;
    }

    #values {
      background-color: #989392;
    }
    #partnerships {
        background-color: #A4A1A0;
    }
    #ourwork {
      background-color: #AEAAA9;
    }
    #offerings {
      background-color: #B7B2B1;
    }
    #rates {
      background-color: #C3BEBD;
    }
  }
  .footer-link {
    display: none;
  }
  .footer {
    display: flex;
    justify-content: center;
  }

  // .right-body {
  //   margin-top: -40px;;
  //   margin-right: 30px;
  // }
  // .heart {
  //   display: none;
  // }
}

@media screen and (max-width: 500px) {
  body {
    background-color: #F5ABAA;
    border: 0;
  }

  .heart {
    display: none;
  }

  .header-img,
  .logo-img {
    display: none;
  }

  .banner {
    display: flex;
  }

  .mobile-img {
    display: flex;
    justify-content: center;
    margin-top: 1.5em;
    margin-bottom: 1em;
  }


  .bullet-container {
    display: none;
  }

  .content {
    display:flex;
  }

  .heart {
    margin-top: -30px;
  }

  .quotes {
    grid-template-columns: 1.5% 94.5%;
  }



  .right-body {
    margin-top: -40px;;
    margin-right: 30px;
  }

  .footer-image {
    width: 80vw;
  }

  .bullets {
    display: none;
  }

  .contact-buttons {
    flex-direction: column-reverse;
    width: 100vw;
    padding: 30px 0;
    background-size: cover;
    background-position: center;
    background-image: url("../assets/images/blue-room.png");
    .signup {
      width: 75vw;
      margin-left: auto;
      margin-right: auto;
      padding: 20px;
      // margin: 10px;
    }
  }

  #description {
    display: none;
  }

  .quotes {
    background-size: cover;
    background-position: center;
    background-image: url("../assets/images/sun-room.png");
    grid-template-columns: 100%;
    margin-top: 18px;
    padding-top: 20px;
    p {
      margin: 0 10vw;
      margin-bottom: 20px;
      font-size: 20px;
      padding: 5px;
      border: 5px solid #FFE6CE;
      color: #FFE6CE;
      background-color:rgba(0,0,0,0.4);
      background: transparent\9;
    }
  }

  .quote-bar-three,
  .quote-bar {
    display: none;
  }
}
